<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/html">
<body>


<div th:fragment="cod_support" th:remove="tag">
    <a th:if="${shipping.codSupported == true}" class="fa-solid fa-hand-holding-dollar fa-2x icon-green"
       th:href="@{'/shipping_rates/cod/' +${shipping.id}+ '/enabled/false'}"
       title="Disabled COD support for this destination"></a>
    <a th:if="${shipping.codSupported == false}" class="fa-solid fa-hand-holding-dollar fa-2x icon-dark"
       th:href="@{'/shipping_rates/cod/' +${shipping.id}+ '/enabled/true'}"
       title="Enabled COD support for this destination"></a>
</div>



</body>
</html>