<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/html">

<body>
<div th:fragment="content" th:remove="tag">
    <form th:action="@{/settings/save_mail_server}" method="post">
        <div class="form-group row">
            <label class="col-sm col-form-label">SMTP Server Host Name:</label>
            <div class="col-sm-8">
                <input type="text" name="MAIL_HOST" class="form-control"
                       th:value="${MAIL_HOST}" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm col-form-label">Port number:</label>
            <div class="col-sm-8">
                <input type="text" name="MAIL_PORT" class="form-control"
                       th:value="${MAIL_PORT}" required/>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm col-form-label">Username:</label>
            <div class="col-sm-8">
                <input type="text" name="MAIL_USERNAME" class="form-control"
                       th:value="${MAIL_USERNAME}" required/>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm col-form-label">Password:</label>
            <div class="col-sm-8">
                <input type="text" name="MAIL_PASSWORD" class="form-control"
                       th:value="${MAIL_PASSWORD}" required/>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Server Authentication Required:</label>
            <div class="col-sm-8 ">
                <select name="SMPT_AUTH" class="form-control">
                    <option value="true" th:selected="(${SMPT_AUTH} == 'true')">
                        True
                    </option>
                    <option value="false" th:selected="(${SMPT_AUTH} == 'false')">
                        False
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Server Requires Secured Connection (TLS):</label>
            <div class="col-sm-8 ">
                <select name="SMPT_SECURED" class="form-control">
                    <option value="true" th:selected="(${SMPT_SECURED} == 'true')">
                        True
                    </option>
                    <option value="false" th:selected="(${SMPT_SECURED} == 'false')">
                        False
                    </option>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm col-form-label">From E-mail Address :</label>
            <div class="col-sm-8">
                <input type="text" name="MAIL_FROM" class="form-control"
                       th:value="${MAIL_FROM}" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm col-form-label">Sender Name :</label>
            <div class="col-sm-8">
                <input type="text" name="MAIL_SENDER_NAME" class="form-control"
                       th:value="${MAIL_SENDER_NAME}" required/>
            </div>
        </div>








        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3"/>
        </div>
    </form>


</div>

</body>
</html>